<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs'); %>
        <title>Martijn's API site</title>
    </head>
    <body>
        <%- include('../components/nav.ejs'); %>
        <div class="content-wrapper">
            <div class="top5movies swiper">
                <div class="swiper-wrapper">
                    <% top5movies.forEach(movie => { %>
                        <div class="featured-wrapper swiper-slide">
                            <img src="https://image.tmdb.org/t/p/w500<%=movie.backdrop_path%>" class="backdrop-img" alt="Image of the trending movie: <%=movie.title%>">
                            <div class="featured-overlay">
                                <div class="featured-text">
                                    <h3><%= movie.title %></h3>
                                    <p><%= movie.overview %></p>
                                    <div class="button-holder">
                                        <button type="button" class="watchBtn">Watch now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
            <div class="category-container">
                <div class="category-title">
                    <h2>Top rated</h2>
                </div>
                <div class="movies swiper">
                    <div class="swiper-wrapper">
                    <% trendingMovies.forEach(movie => { %>
                        <a href="/movie/<%= movie.id %>" class="swiper-slide card">
                            <div class="card-image">
                                <img src="https://image.tmdb.org/t/p/w500<%=movie.poster_path%>" alt="Image of <%=movie.title%>">
                            </div>
                        </a>
                    <% }); %>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <div class="category-container">
                <div class="category-title">
                    <h2>Discover movies</h2>
                </div>
                <div class="movies swiper">
                    <div class="swiper-wrapper">
                    <% discoverMovies.forEach(movie => { %>
                        <a href="/movie/<%= movie.id %>" class="swiper-slide card">
                            <div class="card-image">
                                <img src="https://image.tmdb.org/t/p/w500<%=movie.poster_path%>" alt="Image of <%=movie.title%>">
                            </div>
                        </a>
                    <% }); %>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </body>
</html>